<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.duanhong.steward.mapper.gmapper.StewChatRoomMapper">
  <resultMap id="BaseResultMap" type="top.duanhong.steward.entity.po.StewChatRoom">
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="expiry_time" jdbcType="TIMESTAMP" property="expiryTime" />
    <result column="room_desc" jdbcType="VARCHAR" property="roomDesc" />
    <result column="room_state" jdbcType="VARCHAR" property="roomState" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.duanhong.steward.entity.po.StewChatRoom">
    <result column="unread_count" jdbcType="LONGVARCHAR" property="unreadCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    room_id, room_name, avatar, create_time, update_time, expiry_time, room_desc, room_state, 
    user_id
  </sql>
  <sql id="Blob_Column_List">
    unread_count
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="top.duanhong.steward.entity.po.StewChatRoomExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stew_chat_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="top.duanhong.steward.entity.po.StewChatRoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from stew_chat_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="top.duanhong.steward.entity.po.StewChatRoomExample">
    delete from stew_chat_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.duanhong.steward.entity.po.StewChatRoom">
    insert into stew_chat_room (room_id, room_name, avatar, 
      create_time, update_time, expiry_time, 
      room_desc, room_state, user_id, 
      unread_count)
    values (#{roomId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{expiryTime,jdbcType=TIMESTAMP}, 
      #{roomDesc,jdbcType=VARCHAR}, #{roomState,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{unreadCount,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.duanhong.steward.entity.po.StewChatRoom">
    insert into stew_chat_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="roomName != null">
        room_name,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="expiryTime != null">
        expiry_time,
      </if>
      <if test="roomDesc != null">
        room_desc,
      </if>
      <if test="roomState != null">
        room_state,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="unreadCount != null">
        unread_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryTime != null">
        #{expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomDesc != null">
        #{roomDesc,jdbcType=VARCHAR},
      </if>
      <if test="roomState != null">
        #{roomState,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="unreadCount != null">
        #{unreadCount,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.duanhong.steward.entity.po.StewChatRoomExample" resultType="java.lang.Long">
    select count(*) from stew_chat_room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stew_chat_room
    <set>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.roomName != null">
        room_name = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expiryTime != null">
        expiry_time = #{record.expiryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.roomDesc != null">
        room_desc = #{record.roomDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.roomState != null">
        room_state = #{record.roomState,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.unreadCount != null">
        unread_count = #{record.unreadCount,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update stew_chat_room
    set room_id = #{record.roomId,jdbcType=VARCHAR},
      room_name = #{record.roomName,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      expiry_time = #{record.expiryTime,jdbcType=TIMESTAMP},
      room_desc = #{record.roomDesc,jdbcType=VARCHAR},
      room_state = #{record.roomState,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      unread_count = #{record.unreadCount,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stew_chat_room
    set room_id = #{record.roomId,jdbcType=VARCHAR},
      room_name = #{record.roomName,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      expiry_time = #{record.expiryTime,jdbcType=TIMESTAMP},
      room_desc = #{record.roomDesc,jdbcType=VARCHAR},
      room_state = #{record.roomState,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>